
.admin_left{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #009695;
  padding: 0;
  z-index: 99;
}
.admin_left:hover{
  cursor: pointer;

}
.admin_logo{
  height: 180px;
  margin: 0 auto;

  padding-top: 51px;
  text-align: center;
}
.admin_index_logo{
  display: inline-block;
  height: 56px;
  line-height: 56px;
  font-size: 30px;
  text-align: right;
  color: #fff;

}
.admin_index_name{
  display: inline-block;
  text-align: right;
  font-size: 14px;
  color: #fff;
}
.admin_index_nav{
  width: 100%;
  padding-top: 27px;
  padding-bottom:27px;
  border-top: 1px solid #037D80;
  border-bottom: 1px solid #037D80;
}
.font_color{
  background: transparent;
  border: none;
  color: #fff;
}
.nav_public{
  position: relative;
  display: block;
  margin-bottom: -1px;
}
.nav_public_in{
  position: relative;
  display: block;
  margin-bottom: -1px;
}
.nav_public_first:focus, .nav_public_first:hover {
    color: #fff;
    background: #006E6F;
}
.nav_public_second:focus, .nav_public_second:hover {
    color: #fff;
    background: #006E6F;
}
.nav_public_first{

  padding: 10px 16.35%;
}
.nav_public_second{
  padding: 10px 12.35% 10px 20.35%;
}
.nav_second{
  display: none;
}
